 <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="/fun">AntaLord Fun</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/apps">Apps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myths">Japanese mythology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/noobs">Noob's highlights</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <a href="/"><img src="../../static/images/icon.png" class="icon"></a>
        </form>
      </div>
  </nav>