{% extends 'layout_fun.html' %}

    {% block body %}
    <main role="main" class="container">

    	<div class="starter-template">
    		<h3>List of apps developed</h3>
    		<p>I sometimes code some of these useless stuff below,
    		maybe they can be helpful for you! or at least funny</p>
    		<div class="row">
    			<div class="col-lg-3">
    				<div class="card"">
  						<div class="card-body">
    						<h5 class="card-title">Unity conversor</h5>
    						<h6 class="card-subtitle mb-2 text-muted">Get your values into <strong>diegão</strong> or <strong>joão zika</strong> unities</h6>
    						<p class="card-text">Need a quick conversion of values? Try it! You can get both diegão and joão zika values instantly!</p>
    						<a href="/apps/conversor" class="card-link">Try it</a>
    					</div>
    				</div>
  				</div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pokemon party generator</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Quick party creation, by pokemon or by type</h6>
                            <p class="card-text">Do you need a challenge to capture pokemons? Here you can get a random party for challenging the elite of four!</p>
                            <a href="/apps/poke-gen" class="card-link">Try it</a>
                        </div>
                    </div>
                </div>
			</div>
            <hr/>
			<div class="text-center">
				<h3>Have any ideas?</h3>
				<p>You can help me to create funny apps! 
				<br/>Contact me on <a href="http:\\twitter.com/umpatodoispato">twitter!
					<i class="fa fa-twitter"></i></a>
				</p>
			</div>
    	</div>
    </main>
    {% endblock %}
