{% extends 'layout_fun.html' %}

    {% block body %}
    <main role="main">
    
    	<div class="anta-bg-yasai">
    		<div class="mid-img-text">
    			<div class="row">
    				<h3>Welcome to the fun area of the jungle!</h3>
    				<p>This area of the site is the fun one, it has
    				some useless stuff and some weird thing that i like.
    				<br/>
 				
	 				<br/>
 					Have fun with the antas!</p>
 				</div>
 				<div class="row">
 					<a href="#explore" class="btn-success btn">Explore</a>
 				</div>
 			</div>

    	</div>

    	<div id="explore" class="container starter-template">
    		<h3>What do we got?</h3>
    		<p>Oh yeah baby, we have the right things for you, check them out!</p>
    		<hr/>
    		<div class="row">
    			<div class="col-lg-3">
    				<a href="/apps"><h4>Apps</h4></a>
    				<p>Some small things that <strong>surely</strong> can be such usefull for you!</p>
    			</div>
    			<div class="col-lg-3">
    				<a href="/myths"><h4>Japanese Mythology</h4></a>
    				<p>A resume written by me of some japanese tales</p>
    			</div>
                <div class="col-lg-3">
                    <a href="/noobs"><h4>Noob's hightlights</h4></a>
                    <p>Videos of me and my friends trying our best at league of legends</p>
                </div>
    			<div class="col-lg-3">
    				<h4>More incoming!</h4>
    				<p>Soon there will be more features for you!</p>
    			</div>
    		</div>
 
    		
    	</div>

    	
    	
    </main>

    {% endblock %}