{% extends 'layout_fun.html' %}

    {% block body %}
    <main role="main" class="container">

    	{% from "includes/formHelper.html" import render_field %}

    	<form method="POST">
    		<div class="row starter-template">
    			<div class="col-lg-12">
    				<h2>Japanese text analysis tool</h2>
            <p>Enter the text, and then you will se how difficult is to read it</p>
            <div class="row">
            <div class="col-lg-10">
              {{render_field(form.text, class_="form-control")}}
              <p>Try it: <mark>いま私の願いごとが  かなうならば翼がほしい  この背中に鳥のように  白い翼つけてください<mark></p>
            </div>
            <div class="col-lg-2">
              <input type="submit" style="height: 80px; margin-top: 15px" class="btn btn-success" value="Analyse it!">
              <p class="text-muted">It can take a few minutes...</p>
            </div>
          </div>
					</div>
				</div>
        {% if results != None %}
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header text-center">
                  JLPT Data
                </div>
                <div class="card-body">
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{results.n5[0]}}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"> {{results.n5[0]}}%</div>
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{results.n4[0]}}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"> {{results.n4[0]}}%</div>
                    <div class="progress-bar" role="progressbar" style="width: {{results.n3[0]}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{results.n3[0]}}%</div>
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{results.n2[0]}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{results.n2[0]}}%</div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{results.n1[0]}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{results.n1[0]}}%</div>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-success">N5: {{results.n5[1]}} {{results.k_n5}}</li>
                  <li class="list-group-item bg-info">N4: {{results.n4[1]}} {{results.k_n4}}</li>
                  <li class="list-group-item bg-primary">N3: {{results.n3[1]}} {{results.k_n3}}</li>
                  <li class="list-group-item bg-warning">N2: {{results.n2[1]}} {{results.k_n2}}</li>
                  <li class="list-group-item bg-danger">N1: {{results.n1[1]}} {{results.k_n1}}</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
            </div>
          </div>
        </div>
        {% endif %}
				<hr/>
        <div class="col-lg-12">
					<h3>How it works?</h3>
          <p>This algorithm takes all the kanji in the text and analyse its jtpt level and taugh grade</p>
          <p>The data is scrapped from <a href="https://jisho.org/">Jisho dictionary</a></p>
          <p><i>Why not taking each word instead of only kanjis?</i> - Well, japanese its a difficult language, and splitting it by words its hard</p>
          <p><i>It's good, but i need more data from it...</i> - Nice, i'd be ultra happy to satisfy your japanese study necessities! <a href="http://localhost:5000/work#contact">Contact me!</a></p>
				</div>
			</div>
      <hr/>
      <div class="starter-template">
        <a href="/apps">Back to apps list</a>
      </div>
    	</form>
    </main>
    {% endblock %}