<!DOCTYPE html>
<html>
	<head>
  		<script src="../static/js/bootstrap.js"></script>
  		<script src="../static/js/jquery.js"></script>
  		<link rel="stylesheet" href="../static/css/bootstrap.css">
  		<link rel="stylesheet" href="../static/css/custom.css">	
  		<link rel="stylesheet" href="../static/css/font-awesome.min.css">	


	</head>
	<meta charset="utf-8">
	<title>Under maintenance</title>
	<body>
	  	<div class="container col-lg-12">
	  		<div class="errorBlock-top">
	  			
	  			<h3>Sorry, this page is under maintenance :(</h3>
	  			<p>We are currently working at this page, so you can't see it now</p>
	  		</div>
	  		<div class="row col-lg-12">
	  			
	  			<img src="../static/images/maintenance.png" class="img-fluid img-resize center-img">
	  		</div>
	  		<div class="errorBlock">
	  			<p>You will be able to see this page soon.<br/>
	  			Try going back to <a href="/">crossroads</a>
	  			</p>
	  		</div>
	  	</div>
	</body>
</html>