{% extends 'layout_fun.html' %}

    {% block body %}
    <main role="main">

    	<div class="container starter-template">
    		<h3>Noob's highlights</h3>
    		<p>We always try our best in summoners rift.
    		And sometime it becomes a funny video of fail
    		<br/>
    		Check out our videos <a href="https://www.youtube.com/channel/UCUbb0PuVZc1mw9qiYza3bbw">here!</a>
    		</p>
    	</div>
			
		<div class="sr-bg">
  			<div class="col-lg-12 text-center">
  				<h2 class="text-white starter-template">Starring<br/></h3>
  				<div class="row">
  					<div class="col-lg-2">
  						<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
 							<div class="card-header">Tayellah</div>
  							<div class="card-body">
    							<img src="../static/images/champions/leona.png" height="100" width="100" class="rounded-circle">
    							<p class="card-text"><i>"Cum at pigg's asshole is refreshment"</i></p>
  							</div>
  						</div>
  					</div>
  					<div class="col-lg-2">
  						<div class="card bg-light mb-3" style="max-width: 18rem;">
 							<div class="card-header">GrimGuy</div>
  							<div class="card-body">
    							<img src="../static/images/champions/karthus.png" height="100" width="100" class="rounded-circle">
    							<p class="card-text"><i>"Vou ultar e te aviso"</i></p>
  							</div>
  						</div>
  					</div>
  					<div class="col-lg-2">
  						<div class="card bg-light mb-3" style="max-width: 18rem;">
 							<div class="card-header">Gauga</div>
  							<div class="card-body">
    							<img src="../static/images/champions/draven.png" height="100" width="100" class="rounded-circle">
    							<p class="card-text"><i>"We can win, this girl... she is bad"</i></p>
  							</div>
  						</div>
  					</div>
  					<div class="col-lg-2">
  						<div class="card bg-light mb-3" style="max-width: 18rem;">
 							<div class="card-header">LtBorelli</div>
  							<div class="card-body">
    							<img src="../static/images/champions/ekko.png" height="100" width="100" class="rounded-circle">
    							<p class="card-text"><i>"MOTHERFUCKER......... MY MOUSEEE"</i></p>
  							</div>
  						</div>
  					</div>
  					<div class="col-lg-2">
  						<div class="card bg-light mb-3" style="max-width: 18rem;">
 							<div class="card-header">Bezekira</div>
  							<div class="card-body">
    							<img src="../static/images/champions/thresh.png" height="100" width="100" class="rounded-circle">
    							<p class="card-text"><i>"I missed because he didn't dodge, such a bronze..."</i></p>
  							</div>
  						</div>
  					</div>
  					<div class="col-lg-2">
  						<div class="card bg-light mb-3" style="max-width: 18rem;">
 							<div class="card-header">The tarrasque</div>
  							<div class="card-body">
    							<img src="../static/images/champions/kassadin.png" height="100" width="100" class="rounded-circle">
    							<p class="card-text"><i>"I died like a little bird"</i></p>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			
		</div>
	</main>
	{% endblock %}